
body{
    font: status-bar;
    font-family: monospace;
}
 header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
 -webkit-backdrop-filter: blur(10px);
         backdrop-filter: blur(10px);
 background-color: #CEB25F;
 color: rgba(66, 66, 66, 0.685);
 height: 70px;
}
.header{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
 padding-top: 0;
}
.nav{
  margin-left: 350px;
 word-spacing: 0;
}
.nav ul{
  list-style: none;
}
.nav a{
  letter-spacing: 1px;
  font: status-bar;
  font-weight: 700;
  font-size: 17px;
}
.social{
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}
.switch_color{
    color: rgba(66, 66, 66, 0.685);
 }
 #user_reset_button{
  color: rgb(248, 237, 226); 
}
 a{
  color: rgba(66, 66, 66, 0.685);
  font-weight: 600;
 }
 a:active, header a:hover{
  color: rgba(66, 66, 66, 0.685);
 }
 i:hover{
  color: rgba(66, 66, 66, 0.685);
 }
.logo img{
  vertical-align: baseline;
  width: 40px;
  height: 40px;
}
.user_info_h2{
  line-height: 20px;
}
.user_info h2{
  line-height: 0;
}
.user_h4{
  padding-bottom: 0;
}
.form_subscribe label{
    margin-top: 0;
}
.h4{
 margin-bottom: 0;
}
.section{
    margin-top: 100px;
    padding-bottom: 100px;
}
.aside{
  width: 90%;
  margin: 20px auto 0;
  text-align: center;
  letter-spacing: .5px;
}
.aside span{
    color: #CEB25F;
    font-weight: 500;
}
p{
    font-size: 19px;
    font: status-bar;
    line-height: 25px;
}
ul{
  font: status-bar;
  margin-top: 20px;
}
li{
  padding-top: 10px;
}
h2{
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #CEB25F;
}
input, textarea{
    color: rgba(66, 66, 66, 0.685); 
}
.carousel{
    position: relative;
    width: 100%;
    margin-top: 50px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > img {
 width: 100%;
 height: 100%;
}
.carousel-inner{
    height: 300px;
}
.carousel-indicators{
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.carousel-indicators .active{
   background-color: rgba(90, 88, 88, 0.493);
   background-color: #CEB25F;
}
.carousel-indicators li{
  border-color:rgb(90, 88, 88) ;
  border-color: #CEB25F;
}
.section1, .section2, .section3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overview, .symptoms, .Prevention{
  width: 60%;
}
.slider, .visitDR, .Causes{
  width: 30%;
}

   /*================= responsive--- media queries */

@media only screen and (max-width:1024px){
    .container{
        max-width: 1200px;
    }
    .nav{
        margin-left: 250px;
    }
    .carousel-inner{
        height: 280px;
    }
}
@media only screen and (max-width:768px){
    .container{
        max-width: 720px;
    }
    .nav{
        margin-left: 100px;
    }
    .form_subscribe, .user_info{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
}
@media only screen and (max-width:576px){
    .container{
        width: 520px;
    }
    .carousel-inner{
        height: 220px;
    }
    .header{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .header ul{
        display: block;
        margin-left: 50px;
    }
    header .social{
        margin-right: 0;
    }
    .nav_social{
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-animation: hide_soc 1s;
                animation: hide_soc 1s;
        display: none;
    }
    .nav_social i{
        margin: 0 15px;
    }
    @-webkit-keyframes show_soc {
        from{-webkit-transform: translate(300px, 7px);transform: translate(300px, 7px);}
        to{-webkit-transform: translate(0 , 7px);transform: translate(0 , 7px);}
    }
    @keyframes show_soc {
        from{-webkit-transform: translate(300px, 7px);transform: translate(300px, 7px);}
        to{-webkit-transform: translate(0 , 7px);transform: translate(0 , 7px);}
    }
    .switch_soc{
        display: block;
        margin-left: 220px;
        -webkit-animation: show_soc 1s;
                animation: show_soc 1s;
    } 
    .nav{
        margin-left: 0px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    .switch_nav{
        display: none;
    }
    .nav a{
        font-size: 10px;
    }
    .line{
        background-color:rgba(66, 66, 66, 0.685) ;
    }
    .change{
        padding-top: 7px;
    }
    .change .line{
        background-color:rgba(66, 66, 66, 0.685) ;
    }
    footer{
        height: 80px;
    }
    footer .social{
        margin-top: 10px;
    }
    .footer{
        padding: 15px 0;
     }
}
@media only screen and (max-width:425px){
    .container{
        width: 380px;
    }
    .header ul{
        margin-left: 40px;
    }
    .header ul li{
        margin-left: 0px;
    }
    .nav a{
        letter-spacing: 0;
        font-size: 10px;
    }
    .switch_soc{
        display: block;
        margin-left: 80px;
        -webkit-animation: show_soc 1s;
                animation: show_soc 1s;
    } 
    .burgerIcon{
        padding-top: 10px;
    }
    .change{
        padding-top: 15px;
    }
    .section1, .section2, .section3{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
      }
      .carousel-inner{
        height: 300px;
    }
      .overview, .symptoms, .Prevention{
        width: 100%;
      }
      .slider, .visitDR, .Causes{
        width: 100%;
      }
    .footer{
       padding: 15px 0;
    }
}
@media only screen and (max-width:375px){
    .container{
        width: 340px;
    }
    .header ul{
        margin-left: 0px;
    }
    .switch_soc{
        margin-left: 45px;
    } 
}
@media only screen and (max-width:320px){
    .container{
        width: 290px;
    }
    .header ul{
        margin-left: 20px;
    }
    .switch_soc{
        margin-left: 20px;
    } 
    .nav_social i{
        margin: 0 10px;
    }
    .carousel-inner{
        height: 250px;
    }
    footer{
        height: 100px;
    }
}
